<div class="row">
  <div class="col-md-5">
    <h2>Territories</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let territory of territories"
        (click)="selectTerritory(territory)"
        [class.active]="territory === selectedTerritory">
        {{territory.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewTerritory()">New territory</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-territory-details
      [territory]="selectedTerritory"
      [createHandler]="addTerritory"
      [updateHandler]="updateTerritory"
      [deleteHandler]="deleteTerritory">
    </app-territory-details>
  </div>
</div>
